html {
	min-height: 100%;
}
body {
	height: 100vh;
	background: #333;
	display: flex;
	align-items: center;
	align: middle;
	justify-content: center;
	font-size: 8rem;
	font-family: 'Rubik';
	font-weight: 800;
}
div {
	color: #fff;
	letter-spacing: -0.4rem;
}
.flip:hover {
	transform: scaleX(-1);
	transition: all ease 0.2s 0s;
}
.flip:not(:hover) {
	transform: scaleX(1);
	transition: all ease 0.5s 0s;
}
